In [1]:
#Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np

In [2]:
state_file= ("Research Data/State_median_income.csv")
birthplace_file= ("Research Data/birth_dataframe.csv")
salary_file= ("Research Data/NBAsalaries.csv")

state_df= pd.read_csv(state_file)
state_df.head()
income_poverty_df= state_df[['Name', 'Poverty Percent, All Ages', 'Median Household Income']]
income_poverty_df= income_poverty_df.rename(columns=({'Name': 'State'}))
income_poverty_df.head()
income_poverty_df.dtypes

State                         object
Poverty Percent, All Ages    float64
Median Household Income      float64
dtype: object

In [3]:
birthplace_df= pd.read_csv(birthplace_file)
birthplace_df.head()

            Player         Date        City    State
0     Eric Bledsoe   Dec 9 1989  Birmingham  Alabama
1  DeMarre Carroll  Jul 27 1986  Birmingham  Alabama
2   JaMychal Green  Jun 21 1990  Montgomery  Alabama
3       Donta Hall   Aug 7 1997     Luverne  Alabama
4     Josh Magette  Nov 28 1989  Birmingham  Alabama

In [4]:
salary_df= pd.read_csv(salary_file)
salary_df.head()

              Player   2019-20
0      Stephen Curry  40231758
1         Chris Paul  38506482
2  Russell Westbrook  38178000
3          John Wall  37800000
4       James Harden  37800000

In [18]:
#Merge Dataframes to get Players with their birth State, salary, state household income, and state poverty percent
merged_household= pd.merge(income_poverty_df, birthplace_df, how='inner', on= ('State'))
merged_household['Median Household Income']= merged_household['Median Household Income'].astype(int)
merged_salary= pd.merge(merged_household, salary_df, how='inner', on=('Player'))
state_groupby= merged_household.groupby('State')
state_income= state_groupby['Median Household Income'].mean()


state_groupby_df= pd.DataFrame(state_income)
state_groupby_df['# of Players Birthstate']= state_groupby['Player'].count()
#state_groupby_df.sort_values(['Median Household Income'],ascending=False)
merged_salary

,State,"Poverty Percent, All Ages",Median Household Income,Player,Date,City,2019-20
0,Alabama,16.8,49881,Eric Bledsoe,Dec 9 1989,Birmingham,15625000
1,Alabama,16.8,49881,DeMarre Carroll,Jul 27 1986,Birmingham,6842307
2,Alabama,16.8,49881,DeMarre Carroll,Jul 27 1986,Birmingham,811447
3,Alabama,16.8,49881,JaMychal Green,Jun 21 1990,Montgomery,4767000
4,Alabama,16.8,49881,Donta Hall,Aug 7 1997,Luverne,101504
...,...,...,...,...,...,...,...
332,Wisconsin,11.1,60779,Deonte Burton,Jan 31 1994,Milwaukee,1416852
333,Wisconsin,11.1,60779,Tyler Herro,Jan 20 2000,Milwaukee,3640200
334,Wisconsin,11.1,60779,Kevon Looney,Feb 6 1996,Milwaukee,4464286
335,Wisconsin,11.1,60779,Jordan Poole,Jun 19 1999,Milwaukee,1964760
336,Wyoming,10.7,62259,James Johnson,Feb 20 1987,Cheyenne,15349400