In [1]:
#Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np

In [28]:
state_file= ("Research Data/State_median_income.csv")
birthplace_file= ("Research Data/birth_dataframe.csv")
salary_file= ("Research Data/NBAsalaries.csv")

state_df= pd.read_csv(state_file)
state_df.head()
income_poverty_df= state_df[['Name', 'Poverty Percent, All Ages', 'Median Household Income']]
income_poverty_df= income_poverty_df.rename(columns=({'Name': 'State'}))
income_poverty_df.head()
income_poverty_df.dtypes

State                         object
Poverty Percent, All Ages    float64
Median Household Income       object
dtype: object

In [10]:
birthplace_df= pd.read_csv(birthplace_file)
birthplace_df.head()

            Player         Date        City    State
0     Eric Bledsoe   Dec 9 1989  Birmingham  Alabama
1  DeMarre Carroll  Jul 27 1986  Birmingham  Alabama
2   JaMychal Green  Jun 21 1990  Montgomery  Alabama
3       Donta Hall   Aug 7 1997     Luverne  Alabama
4     Josh Magette  Nov 28 1989  Birmingham  Alabama

In [11]:
salary_df= pd.read_csv(salary_file)
salary_df.head()

              Player   2019-20
0      Stephen Curry  40231758
1         Chris Paul  38506482
2  Russell Westbrook  38178000
3          John Wall  37800000
4       James Harden  37800000

In [30]:
#Merge Dataframes to get Players with their birth State, salary, state household income, and state poverty percent
merged_household= pd.merge(income_poverty_df, birthplace_df, how='inner', on= ('State'))
merged_household['Median Household Income']= merged_household['Median Household Income'].astype(int)
state_groupby= merged_household.groupby('State')['Median Household Income'].mean()
state_groupby

ValueError: could not convert string to float: '49,881'