In [2]:
#Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np

In [3]:
state_file= ("Research Data/State_median_income.csv")
birthplace_file= ("Research Data/birth_dataframe.csv")
salary_file= ("Research Data/NBAsalaries.csv")

state_df= pd.read_csv(state_file)
state_df.head()
income_poverty_df= state_df[['Name', 'Poverty Percent, All Ages', 'Median Household Income']]
income_poverty_df= income_poverty_df.rename(columns=({'Name': 'State'}))
income_poverty_df.head()
#income_poverty_df.dtypes

           State  Poverty Percent, All Ages  Median Household Income
0  United States                       13.1                  61937.0
1        Alabama                       16.8                  49881.0
2         Alaska                       11.1                  74912.0
3        Arizona                       14.1                  59079.0
4       Arkansas                       16.8                  47094.0

In [4]:
birthplace_df= pd.read_csv(birthplace_file)
birthplace_df.head()

             Player         Date       City       State
0      Aaron Gordon  Sep 16 1995   San Jose  California
1     Aaron Holiday  Sep 30 1996     Ruston   Louisiana
2        Alec Burks  Jul 20 1991  Grandview    Missouri
3   Al-Farouq Aminu  Sep 21 1990    Atlanta     Georgia
4  Alfonzo McKinnie  Sep 17 1992    Chicago    Illinois

In [5]:
salary_df= pd.read_csv(salary_file)
salary_df.head()

              Player   2019-20
0       A.J. Hammons    350087
1       Aaron Gordon  19863636
2      Aaron Holiday   2239200
3        Abdel Nader   1618520
4  Admiral Schofield    898310

In [31]:
#Merge Dataframes to get Players with their birth State, salary, state household income, and state poverty percent
merged_household= pd.merge(income_poverty_df, birthplace_df, how='inner', on= ('State'))
merged_household['Median Household Income']= merged_household['Median Household Income'].astype(int)
merged_salary= pd.merge(merged_household, salary_df, how='inner', on=('Player'))
merged_salary= merged_salary.rename(columns={'2019-20': 'Player Salary'})

state_groupby= merged_salary.groupby('State')
state_income= state_groupby['Median Household Income'].mean()


state_groupby_df= pd.DataFrame(state_income)
state_groupby_df['# of Players Birthstate']= state_groupby['Player'].count()
state_groupby_df.sort_values(['Median Household Income'],ascending=False, inplace=True)

state_groupby_df['Cumulative Player Salary']= state_groupby['Player Salary'].sum()
state_groupby_df['Median Player Salary']= state_groupby['Player Salary'].median()
state_groupby_df

,Median Household Income,# of Players Birthstate,Cumulative Player Salary,Median Player Salary
State,,,,
Maryland,83076,12,75193155,3282376.5
District of Columbia,82533,4,11717113,2665796.5
New Jersey,81777,6,49019502,5190780.0
Massachusetts,79817,9,18625597,2000000.0
Connecticut,76366,1,5348007,5348007.0
California,75250,40,453153917,6137031.5
Washington,74023,11,59816180,2321735.0
Virginia,72600,8,24638514,1989597.0
Colorado,71949,1,1948080,1948080.0
Minnesota,70295,3,10518272,2028594.0
New York,67648,18,163122045,4666680.0
Delaware,65467,1,2905800,2905800.0
North Dakota,65250,2,26578704,13289352.0
Illinois,65063,25,143467198,1618520.0
Oregon,63168,5,28292560,3529555.0
Wyoming,62259,1,15349400,15349400.0
Pennsylvania,60891,18,120665585,3766720.0
Wisconsin,60779,4,11486098,2802480.0
Iowa,60071,2,24229405,12114702.5
Nebraska,59724,1,838464,838464.0
Arizona,59079,4,15569152,3481140.0
Nevada,58740,2,7459680,3729840.0
Georgia,58634,13,88873474,5201400.0
Kansas,58150,3,4171003,1618520.0
Michigan,56640,11,69370380,2875000.0
Ohio,56155,11,151380854,3827160.0
Indiana,55725,14,159594564,10946788.5
Maine,55579,1,1416852,1416852.0
Florida,55433,15,85298315,2149560.0
Missouri,54412,12,80072473,2369948.0
South Carolina,52449,5,42515113,2100000.0
Oklahoma,51914,5,53118541,4862040.0
Kentucky,50189,3,33681593,3831840.0
Alabama,49881,5,27417489,4767000.0
Louisiana,48021,13,100717474,6392760.0
Arkansas,47094,5,52520011,4028400.0
Mississippi,44740,2,6616310,3308155.0