In [1]:
#Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np

In [3]:
state_file= ("Research Data/State_median_income.csv")
birthplace_file= ("birth_dataframe")
salary_file= ("Research Data/NBAsalaries.csv")

state_df= pd.read_csv(state_file)
state_df.head()

,Table with column headers in rows 3 and 4,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,State FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-17",...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
1,00,US,United States,"41,852,315","41,619,366","42,085,264",13.1,13.0,13.2,"12,997,532",...,17.2,"61,937","61,843","62,031","3,758,704","3,714,862","3,802,546",19.5,19.3,19.7
2,01,AL,Alabama,"801,758","785,668","817,848",16.8,16.5,17.1,"255,613",...,23.7,"49,881","49,123","50,639","73,915","69,990","77,840",26.0,24.6,27.4
3,02,AK,Alaska,"80,224","76,253","84,195",11.1,10.5,11.7,"26,096",...,14.5,"74,912","73,075","76,749","8,255","7,260","9,250",15.9,14.0,17.8
4,04,AZ,Arizona,"990,291","970,614","1,009,968",14.1,13.8,14.4,"328,780",...,20.0,"59,079","58,366","59,792","95,415","89,693","101,137",22.4,21.1,23.7