In [1]:
# Dependencies
import requests
import json

In [2]:
from nba_api.stats.endpoints import playercareerstats
# Anthony Davis
career = playercareerstats.PlayerCareerStats(player_id='203076')
career.get_data_frames()[0].columns

Index(['PLAYER_ID', 'SEASON_ID', 'LEAGUE_ID', 'TEAM_ID', 'TEAM_ABBREVIATION',
       'PLAYER_AGE', 'GP', 'GS', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A',
       'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

adv_path = "Research Data/NBAadvanced.csv"
per_path = "Research Data/NBAper36.csv"
sal_path = "Research Data/NBAsalaries.csv"
#sa
adv_data = pd.read_csv(adv_path, encoding='utf8')
per_data = pd.read_csv(per_path, encoding='utf8')
sal_data = pd.read_csv(sal_path, encoding='utf8')


#deleting all of the data NULL columans and entry from advanced stats
#adv_data.dropna(how = 'any', inplace = True)

#changeing the sal_data to focus only on 2019-2020 season 
# del sal_data['Unnamed: 0']
# del adv_data['Unnamed: 0']

# del per_data['Unnamed: 0']
# del per_data['Unnamed: 0.1']
# del per_data['Unnamed: 0.1.1']

In [4]:
sal_data.count()

Player     564
2019-20    564
dtype: int64

In [5]:
adv_data.count()

Unnamed: 0    514
Player        514
Age           514
Tm            514
G             514
MP            514
PER           514
TS%           509
3PAr          509
FTr           509
ORB%          514
DRB%          514
TRB%          514
AST%          514
STL%          514
BLK%          514
TOV%          510
USG%          514
OWS           514
DWS           514
WS            514
WS/48         514
OBPM          514
DBPM          514
BPM           514
VORP          514
dtype: int64

In [6]:
per_data.count()

Unnamed: 0              514
Unnamed: 0.1            514
Unnamed: 0.1.1          514
Unnamed: 0.1.1.1        514
Unnamed: 0.1.1.1.1      514
Unnamed: 0.1.1.1.1.1    514
Player                  514
Age                     514
Tm                      514
G                       514
GS                      514
MP                      514
FG                      514
FGA                     514
FG%                     509
3P                      514
3PA                     514
3P%                     485
2P                      514
2PA                     514
2P%                     507
FT                      514
FTA                     514
FT%                     481
ORB                     514
DRB                     514
TRB                     514
AST                     514
STL                     514
BLK                     514
TOV                     514
PF                      514
PTS                     514
dtype: int64

In [7]:
adv_sal = pd.merge(adv_data,sal_data, on = "Player")
per_sal = pd.merge(per_data,sal_data, on = "Player")

In [8]:
#per_sal.dropna(how = 'any', inplace = True)
per_sal.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Player,Age,Tm,G,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,2019-20
0,0,0,0,0,0,0,Steven Adams,26,OKC,58,...,4.5,8.0,12.5,3.2,1.2,1.5,2.0,2.6,14.6,25842697
1,1,1,1,1,1,1,Bam Adebayo,22,MIA,65,...,2.7,8.3,11.0,5.4,1.3,1.4,3.0,2.6,17.0,3454080
2,2,2,2,2,2,2,LaMarcus Aldridge,34,SAS,53,...,2.1,5.9,8.0,2.6,0.7,1.8,1.5,2.6,20.5,26000000
3,3,3,3,3,3,3,Nickeil Alexander-Walker,21,NOP,41,...,0.6,5.2,5.7,5.3,0.8,0.5,2.9,3.3,15.2,2964840
4,4,4,4,4,4,4,Grayson Allen,24,MEM,30,...,0.4,4.4,4.8,3.1,0.4,0.1,1.7,2.6,16.0,2429400

In [9]:
adv_sal.count()

Unnamed: 0    485
Player        485
Age           485
Tm            485
G             485
MP            485
PER           485
TS%           483
3PAr          483
FTr           483
ORB%          485
DRB%          485
TRB%          485
AST%          485
STL%          485
BLK%          485
TOV%          483
USG%          485
OWS           485
DWS           485
WS            485
WS/48         485
OBPM          485
DBPM          485
BPM           485
VORP          485
2019-20       485
dtype: int64