In [ ]:
#testing out the nba_api
from nba_api.stats.endpoints import playercareerstats
# Anthony Davis
career = playercareerstats.PlayerCareerStats(player_id='203076')
career.get_data_frames()[0].columns

In [31]:
# Dependencies
import requests
import json
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

adv_path = "Research Data/NBAadvanced.csv"
per_path = "Research Data/NBAper36.csv"
sal_path = "Research Data/NBAsalaries.csv"
birth_path = "Research Data/birth_dataframe.csv"

adv_data = pd.read_csv(adv_path, encoding='utf8')
per_data = pd.read_csv(per_path, encoding='utf8')
sal_data = pd.read_csv(sal_path, encoding='utf8')
birth_data = pd.read_csv(birth_path, encoding='utf8')
birth_data = birth_data[["Player","City", "State"]]


#filling all of the null values with 
adv_data.fillna(0, inplace = True)
per_data.fillna(0, inplace = True) 
sal_data.fillna(0, inplace = True)

In [32]:
# adv_sal = pd.merge(adv_data,sal_data, on = "Player")
# per_sal = pd.merge(per_data,sal_data, on = "Player")
adv_birth = pd.merge(adv_data,birth_data, on = "Player")
per_birth = pd.merge(per_data,birth_data, on = "Player")
per_birth_sal = pd.merge(per_birth,sal_data, on = "Player")
adv_birth_sal = pd.merge(adv_birth,sal_data, on = "Player")

In [33]:
#per_birth_sal.count()
per_birth_sal.head()

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,TRB,AST,STL,BLK,TOV,PF,PTS,City,State,2019-20
0,Bam Adebayo,22,MIA,65,65,2235,6.6,11.6,0.567,0.0,...,11.0,5.4,1.3,1.4,3.0,2.6,17.0,Newark,New Jersey,3454080
1,Grayson Allen,24,MEM,30,0,498,5.7,12.7,0.449,2.4,...,4.8,3.1,0.4,0.1,1.7,2.6,16.0,Jacksonville,Florida,2429400
2,Al-Farouq Aminu,29,ORL,18,2,380,2.4,8.1,0.291,0.9,...,8.2,2.0,1.7,0.8,1.6,2.6,7.4,Atlanta,Georgia,9258000
3,Justin Anderson,26,BRK,3,0,17,2.1,12.7,0.167,0.0,...,4.2,0.0,0.0,2.1,0.0,4.2,6.4,Montross,Virginia,98144
4,Kyle Anderson,26,MEM,59,20,1140,4.4,8.8,0.493,0.5,...,8.1,4.2,1.5,1.0,1.7,2.7,10.6,Fairview,New Jersey,9073050

In [34]:
adv_birth_sal.head()

,Player,Age,Tm,G,MP,PER,TS%,3PAr,FTr,ORB%,...,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,City,State,2019-20
0,Bam Adebayo,22,MIA,65,2235,20.6,0.606,0.018,0.476,8.7,...,3.6,8.1,0.175,1.6,2.1,3.6,3.2,Newark,New Jersey,3454080
1,Grayson Allen,24,MEM,30,498,11.4,0.577,0.517,0.199,1.1,...,0.3,0.7,0.070,-1.0,-1.5,-2.6,-0.1,Jacksonville,Florida,2429400
2,Al-Farouq Aminu,29,ORL,18,380,7.6,0.395,0.419,0.337,6.6,...,0.5,0.1,0.016,-4.5,1.4,-3.1,-0.1,Atlanta,Georgia,9258000
3,Justin Anderson,26,BRK,3,17,-3.8,0.218,0.500,0.333,0.0,...,0.0,-0.1,-0.167,-12.8,-2.3,-15.1,-0.1,Montross,Virginia,98144
4,Kyle Anderson,26,MEM,59,1140,13.0,0.542,0.221,0.236,5.1,...,1.4,2.2,0.095,-1.3,1.9,0.6,0.7,Fairview,New Jersey,9073050

In [35]:
adv_birth_sal.columns

Index(['Player', 'Age', 'Tm', 'G', 'MP', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%',
       'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'OWS', 'DWS',
       'WS', 'WS/48', 'OBPM', 'DBPM', 'BPM', 'VORP', 'City', 'State',
       '2019-20'],
      dtype='object')