In [1]:
import pandas as pd
import os

In [4]:
per36 = pd.read_csv("NBAper36.csv", encoding = "utf8")
advanced = pd.read_csv("NBAadvanced.csv", encoding = "utf8")
salaries = pd.read_csv("NBAsalaries.csv", encoding = "utf8")
per36

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Steven Adams,26,OKC,58,58,1564,6.0,10.2,0.591,0.0,...,0.590,4.5,8.0,12.5,3.2,1.2,1.5,2.0,2.6,14.6
1,Bam Adebayo,22,MIA,65,65,2235,6.6,11.6,0.567,0.0,...,0.690,2.7,8.3,11.0,5.4,1.3,1.4,3.0,2.6,17.0
2,LaMarcus Aldridge,34,SAS,53,53,1754,8.0,16.3,0.493,1.3,...,0.827,2.1,5.9,8.0,2.6,0.7,1.8,1.5,2.6,20.5
3,Nickeil Alexander-Walker,21,NOP,41,0,501,5.5,16.3,0.339,2.9,...,0.607,0.6,5.2,5.7,5.3,0.8,0.5,2.9,3.3,15.2
4,Grayson Allen,24,MEM,30,0,498,5.7,12.7,0.449,2.4,...,0.857,0.4,4.4,4.8,3.1,0.4,0.1,1.7,2.6,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,Thaddeus Young,31,CHI,64,16,1591,6.1,13.6,0.448,1.8,...,0.583,2.1,5.0,7.1,2.6,2.1,0.5,2.3,3.0,14.9
620,Trae Young,21,ATL,60,60,2120,9.3,21.2,0.437,3.5,...,0.860,0.5,3.8,4.3,9.5,1.1,0.1,4.9,1.8,30.2
621,Cody Zeller,27,CHO,58,39,1341,6.7,12.9,0.524,0.5,...,0.682,4.3,6.7,11.0,2.4,1.1,0.7,2.0,3.8,17.2
622,Ante Žižić,23,CLE,22,0,221,6.7,11.7,0.569,0.0,...,0.737,2.9,7.8,10.8,1.0,1.1,0.8,1.6,4.4,15.6
623,Ivica Zubac,22,LAC,64,62,1156,6.3,10.5,0.601,0.0,...,0.759,5.2,9.2,14.4,2.1,0.4,1.9,1.7,4.5,15.9

In [5]:
advanced

,Player,Age,Tm,G,MP,PER,TS%,3PAr,FTr,ORB%,...,Unnamed: 17,OWS,DWS,WS,WS/48,Unnamed: 22,OBPM,DBPM,BPM,VORP
0,Steven Adams,26,OKC,58,1564,20.8,0.605,0.007,0.413,14.4,...,NaN,3.7,2.5,6.2,0.190,NaN,2.1,1.1,3.2,2.0
1,Bam Adebayo,22,MIA,65,2235,20.6,0.606,0.018,0.476,8.7,...,NaN,4.6,3.6,8.1,0.175,NaN,1.6,2.1,3.6,3.2
2,LaMarcus Aldridge,34,SAS,53,1754,19.8,0.571,0.198,0.241,6.3,...,NaN,3.1,1.4,4.4,0.122,NaN,1.8,-0.5,1.3,1.5
3,Nickeil Alexander-Walker,21,NOP,41,501,7.6,0.441,0.515,0.123,1.7,...,NaN,-0.7,0.4,-0.4,-0.034,NaN,-3.5,-1.4,-4.9,-0.4
4,Grayson Allen,24,MEM,30,498,11.4,0.577,0.517,0.199,1.1,...,NaN,0.5,0.3,0.7,0.070,NaN,-1.0,-1.5,-2.6,-0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,Thaddeus Young,31,CHI,64,1591,13.3,0.521,0.369,0.120,6.2,...,NaN,-0.2,2.1,1.9,0.058,NaN,-1.4,0.2,-1.1,0.4
620,Trae Young,21,ATL,60,2120,23.9,0.595,0.455,0.448,1.6,...,NaN,5.4,0.5,5.9,0.134,NaN,6.3,-2.3,4.0,3.2
621,Cody Zeller,27,CHO,58,1341,18.8,0.576,0.157,0.374,12.6,...,NaN,2.4,1.2,3.6,0.129,NaN,0.2,-0.8,-0.6,0.5
622,Ante Žižić,23,CLE,22,221,16.4,0.597,0.000,0.264,9.0,...,NaN,0.3,0.2,0.5,0.106,NaN,-1.7,-1.5,-3.2,-0.1
623,Ivica Zubac,22,LAC,64,1156,21.0,0.642,0.006,0.420,15.2,...,NaN,3.6,2.0,5.6,0.231,NaN,1.5,1.0,2.5,1.3

In [6]:
salaries

,Player,2019-20,2020-21,2021-22,2022-23,2023-24,2024-25,Signed Using,Guaranteed
0,Stephen Curry,"$40,231,758","$43,006,362","$45,780,966",NaN,NaN,NaN,Bird Rights,"$129,019,086"
1,Chris Paul,"$38,506,482","$41,358,814","$44,211,146",NaN,NaN,NaN,Bird Rights,"$79,865,296"
2,Russell Westbrook,"$38,178,000","$41,006,000","$43,848,000","$46,662,000",NaN,NaN,Bird Rights,"$123,032,000"
3,John Wall,"$37,800,000","$40,824,000","$43,848,000","$46,872,000",NaN,NaN,Bird Rights,"$122,472,000"
4,James Harden,"$37,800,000","$40,824,000","$43,848,000","$46,872,000",NaN,NaN,Bird Rights,"$122,472,000"
...,...,...,...,...,...,...,...,...,...
559,William Howard,"$50,000",NaN,NaN,NaN,NaN,NaN,NaN,"$50,000"
560,Isaiah Taylor,"$50,000",NaN,NaN,NaN,NaN,NaN,NaN,"$50,000"
561,Tyler Lydon,"$50,000",NaN,NaN,NaN,NaN,NaN,NaN,"$50,000"
562,Hollis Thompson,"$50,000",NaN,NaN,NaN,NaN,NaN,NaN,"$50,000"
563,Tyler Ulis,"$50,000",NaN,NaN,NaN,NaN,NaN,NaN,"$50,000"