In [24]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [34]:
per36 = pd.read_csv("NBAper36.csv", encoding = "utf8")
advanced = pd.read_csv("NBAadvanced.csv", encoding = "utf8")
salaries = pd.read_csv("NBAsalaries.csv", encoding = "utf8")
per36_ = per36.drop_duplicates("Player", keep= "first")
salaries = pd.read_csv("NBAsalaries.csv", encoding = "utf8")
per36_.to_csv('NBAper36.CSV', index=True)

In [9]:
advanced
advanced1 = advanced.drop(columns = ["Unnamed: 17", "Unnamed: 22" ])
advanced1

,Player,Age,Tm,G,MP,PER,TS%,3PAr,FTr,ORB%,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,Steven Adams,26,OKC,58,1564,20.8,0.605,0.007,0.413,14.4,...,14.1,17.2,3.7,2.5,6.2,0.190,2.1,1.1,3.2,2.0
1,Bam Adebayo,22,MIA,65,2235,20.6,0.606,0.018,0.476,8.7,...,17.5,20.8,4.6,3.6,8.1,0.175,1.6,2.1,3.6,3.2
2,LaMarcus Aldridge,34,SAS,53,1754,19.8,0.571,0.198,0.241,6.3,...,7.8,23.6,3.1,1.4,4.4,0.122,1.8,-0.5,1.3,1.5
3,Nickeil Alexander-Walker,21,NOP,41,501,7.6,0.441,0.515,0.123,1.7,...,14.3,22.8,-0.7,0.4,-0.4,-0.034,-3.5,-1.4,-4.9,-0.4
4,Grayson Allen,24,MEM,30,498,11.4,0.577,0.517,0.199,1.1,...,10.7,17.9,0.5,0.3,0.7,0.070,-1.0,-1.5,-2.6,-0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,Thaddeus Young,31,CHI,64,1591,13.3,0.521,0.369,0.120,6.2,...,13.9,19.7,-0.2,2.1,1.9,0.058,-1.4,0.2,-1.1,0.4
620,Trae Young,21,ATL,60,2120,23.9,0.595,0.455,0.448,1.6,...,16.2,34.9,5.4,0.5,5.9,0.134,6.3,-2.3,4.0,3.2
621,Cody Zeller,27,CHO,58,1341,18.8,0.576,0.157,0.374,12.6,...,11.9,20.8,2.4,1.2,3.6,0.129,0.2,-0.8,-0.6,0.5
622,Ante Žižić,23,CLE,22,221,16.4,0.597,0.000,0.264,9.0,...,11.1,17.5,0.3,0.2,0.5,0.106,-1.7,-1.5,-3.2,-0.1
623,Ivica Zubac,22,LAC,64,1156,21.0,0.642,0.006,0.420,15.2,...,11.8,16.2,3.6,2.0,5.6,0.231,1.5,1.0,2.5,1.3

In [15]:
salaries
salaries1 = salaries [["Player", "2019-20"]]
salaries1

                Player       2019-20
0        Stephen Curry  $40,231,758
1           Chris Paul  $38,506,482
2    Russell Westbrook  $38,178,000
3            John Wall  $37,800,000
4         James Harden  $37,800,000
..                 ...           ...
559     William Howard      $50,000
560      Isaiah Taylor      $50,000
561        Tyler Lydon      $50,000
562    Hollis Thompson      $50,000
563         Tyler Ulis      $50,000

[564 rows x 2 columns]