In [1]:
# Dependencies
import requests
import json

In [2]:
from nba_api.stats.endpoints import playercareerstats
# Anthony Davis
career = playercareerstats.PlayerCareerStats(player_id='203076')
career.get_data_frames()[0].columns

Index(['PLAYER_ID', 'SEASON_ID', 'LEAGUE_ID', 'TEAM_ID', 'TEAM_ABBREVIATION',
       'PLAYER_AGE', 'GP', 'GS', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A',
       'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

adv_path = "Research Data/NBAadvanced.csv"
per_path = "Research Data/NBAper36.csv"
sal_path = "Research Data/NBAsalaries.csv"
#sa
adv_data = pd.read_csv(adv_path, encoding='utf8')
per_data = pd.read_csv(per_path, encoding='utf8')
sal_data = pd.read_csv(sal_path, encoding='utf8')

In [4]:
per_data.head()

,Unnamed: 0,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,Steven Adams,26,OKC,58,58,1564,6.0,10.2,0.591,...,0.590,4.5,8.0,12.5,3.2,1.2,1.5,2.0,2.6,14.6
1,1,Bam Adebayo,22,MIA,65,65,2235,6.6,11.6,0.567,...,0.690,2.7,8.3,11.0,5.4,1.3,1.4,3.0,2.6,17.0
2,2,LaMarcus Aldridge,34,SAS,53,53,1754,8.0,16.3,0.493,...,0.827,2.1,5.9,8.0,2.6,0.7,1.8,1.5,2.6,20.5
3,3,Nickeil Alexander-Walker,21,NOP,41,0,501,5.5,16.3,0.339,...,0.607,0.6,5.2,5.7,5.3,0.8,0.5,2.9,3.3,15.2
4,4,Grayson Allen,24,MEM,30,0,498,5.7,12.7,0.449,...,0.857,0.4,4.4,4.8,3.1,0.4,0.1,1.7,2.6,16.0

In [5]:
adv_data

,Player,Age,Tm,G,MP,PER,TS%,3PAr,FTr,ORB%,...,Unnamed: 17,OWS,DWS,WS,WS/48,Unnamed: 22,OBPM,DBPM,BPM,VORP
0,Steven Adams,26,OKC,58,1564,20.8,0.605,0.007,0.413,14.4,...,NaN,3.7,2.5,6.2,0.190,NaN,2.1,1.1,3.2,2.0
1,Bam Adebayo,22,MIA,65,2235,20.6,0.606,0.018,0.476,8.7,...,NaN,4.6,3.6,8.1,0.175,NaN,1.6,2.1,3.6,3.2
2,LaMarcus Aldridge,34,SAS,53,1754,19.8,0.571,0.198,0.241,6.3,...,NaN,3.1,1.4,4.4,0.122,NaN,1.8,-0.5,1.3,1.5
3,Nickeil Alexander-Walker,21,NOP,41,501,7.6,0.441,0.515,0.123,1.7,...,NaN,-0.7,0.4,-0.4,-0.034,NaN,-3.5,-1.4,-4.9,-0.4
4,Grayson Allen,24,MEM,30,498,11.4,0.577,0.517,0.199,1.1,...,NaN,0.5,0.3,0.7,0.070,NaN,-1.0,-1.5,-2.6,-0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,Thaddeus Young,31,CHI,64,1591,13.3,0.521,0.369,0.120,6.2,...,NaN,-0.2,2.1,1.9,0.058,NaN,-1.4,0.2,-1.1,0.4
620,Trae Young,21,ATL,60,2120,23.9,0.595,0.455,0.448,1.6,...,NaN,5.4,0.5,5.9,0.134,NaN,6.3,-2.3,4.0,3.2
621,Cody Zeller,27,CHO,58,1341,18.8,0.576,0.157,0.374,12.6,...,NaN,2.4,1.2,3.6,0.129,NaN,0.2,-0.8,-0.6,0.5
622,Ante Žižić,23,CLE,22,221,16.4,0.597,0.000,0.264,9.0,...,NaN,0.3,0.2,0.5,0.106,NaN,-1.7,-1.5,-3.2,-0.1
623,Ivica Zubac,22,LAC,64,1156,21.0,0.642,0.006,0.420,15.2,...,NaN,3.6,2.0,5.6,0.231,NaN,1.5,1.0,2.5,1.3

In [6]:
adv_data.columns

Index(['Player', 'Age', 'Tm', 'G', 'MP', 'PER', 'TS%', '3PAr', 'FTr', 'ORB%',
       'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'Unnamed: 17',
       'OWS', 'DWS', 'WS', 'WS/48', 'Unnamed: 22', 'OBPM', 'DBPM', 'BPM',
       'VORP'],
      dtype='object')

In [7]:
del adv_data['Unnamed: 17']
del adv_data['Unnamed: 22']

In [8]:
adv_data.dropna(how = 'any', inplace = True)

Player    619
Age       619
Tm        619
G         619
MP        619
PER       619
TS%       619
3PAr      619
FTr       619
ORB%      619
DRB%      619
TRB%      619
AST%      619
STL%      619
BLK%      619
TOV%      619
USG%      619
OWS       619
DWS       619
WS        619
WS/48     619
OBPM      619
DBPM      619
BPM       619
VORP      619
dtype: int64